@property --visibility {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 5%;
}

@property --x {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

@property --y {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}

@keyframes animatedBackground {
  from {
    --x: 0%;
    --y: 0%;
    --visibility: 5%;
  }
  to {
    --x: 50%;
    --y: 50%;
    --visibility: 100%;
  }
}

@keyframes animatedBackgroundOut {
  from {
    --x: 50%;
    --y: 50%;
    --visibility: 100%;
  }
  to {
    --x: 0%;
    --y: 0%;
    --visibility: 5%;
  }
}

.badgeOuter {
  border: double 2px transparent;
  background-image: linear-gradient(black, black), radial-gradient(ellipse at var(--x) var(--y), #737373 var(--visibility), transparent);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.active {
  animation: animatedBackground 0.2s linear forwards;
}

.inactive {
  animation: animatedBackgroundOut 0.2s linear backwards;
}
