@property --visibility {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 5%;
}

@property --posX {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0.001%;
}

@property --posY {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0.001%;
}

@keyframes animatedBackground {
  from {
    --posX: 0.001%;
    --posY: 0.001%;
    --visibility: 5%;
  }
  to {
    --posX: 50%;
    --posY: 50%;
    --visibility: 100%;
  }
}

@keyframes animatedBackgroundOut {
  from {
    --posX: 50%;
    --posY: 50%;
    --visibility: 100%;
  }
  to {
    --posX: 0.001%;
    --posY: 0.001%;
    --visibility: 5%;
  }
}

.badgeOuter {
  border: double 2px transparent;
  background-image: linear-gradient(black, black), radial-gradient(ellipse at var(--posX) var(--posY), #8a7e34 var(--visibility), transparent);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.discodBadgeOuter {
  border: double 2px transparent;
  background-image: linear-gradient(black, black), radial-gradient(ellipse at var(--posX) var(--posY), #5865F2F0 var(--visibility), transparent);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.active {
  animation: animatedBackground 0.2s linear forwards;
}

.inactive {
  animation: animatedBackgroundOut 0.2s linear backwards;
}
