@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  font-family: 'Poppins', sans-serif;
}

.header img {
    display: inline;
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.header span {
    vertical-align: middle;
}

.header {
    display: inline-block;
    width: 100%;
    clear: both;
}

.rounded-image {
  border-radius: 50%;
}
